## Bart Torvik Data

This notebook will create a dataframe from Bart Torvik's website. Bart has a public website with college basketball individual and team stats since 2008. The data he has provided includes season stats for every player that has played since 2008.

### Contents

- [Imports](#Imports)
- [Reading Data](#Reading-Data)
- [Data Review](#Data-Review)

### Imports

In [1]:
import pandas as pd

### Reading Data

In [2]:
#creaing dataframe from the json file
df = pd.read_json('http://barttorvik.com/getadvstats.php?year=all&specialSource=0&conyes=0&start=-11101&end=all0501&top=0&xvalue=All&page=playerstat.json')

### Data Review

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,Jason Praet,Detroit,Horz,6,1.0,0.0,16.8,0.0,0.00,0.0,...,98.5024,0.196087,2.50101,-16.14070,-14.74150,-1.39926,-19.178,2.0000,-21.543,2.365
1,DeAndrae Ross,South Alabama,SB,22,8.4,62.0,14.1,32.6,33.40,0.0,...,104.6870,0.365511,15.03790,-8.33266,-6.31752,-2.01514,-10.622,5.1250,-9.557,-1.065
2,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,108.5270,0.893017,49.96440,-5.15203,-1.77499,-3.37704,-4.381,14.5769,-2.722,-1.659
3,DeAndrae Ross,Troy,SB,7,11.5,67.1,16.9,34.5,36.11,3.1,...,111.9560,0.962461,17.44340,-10.44550,-6.83856,-3.60694,-9.617,18.8571,-6.524,-3.093
4,Pooh Williams,Utah St.,WAC,28,24.3,93.1,13.8,45.2,46.20,1.4,...,110.3660,0.672348,48.48480,-3.29203,-1.17901,-2.11302,-3.537,12.1379,-2.517,-1.020

In [4]:
#creating a dictionary to rename columns
#column titles provided by Bart Torvik

new_columns = {0: 'player_name', 1: 'school', 2: 'conference', 3: 'GP', 4: 'Min_per',
               5: 'ORtg', 6: 'usg', 7: 'eFG', 8: 'TS_per', 9: 'ORB_per', 10: 'DRB_per',
              11: 'AST_per', 12: 'TO_per', 13: 'FTM', 14: 'FTA', 15: 'FT_per',16: 'twoPM',
              17: 'twoPA', 18: 'twoP_per', 19: 'TPM', 20: 'TPA', 21: 'TP_per', 22: 'blk_per',
              23: 'stl_per', 24: 'ftr', 25: 'yr', 26: 'ht', 27: 'num', 28: 'porpag', 29: 'adjoe',
              30: 'pfr', 31: 'year', 32: 'pid', 33: 'type', 34: 'rec-rk', 35: 'ast/tov', 36: 'rimmade',
              37: 'rimmade + rimmiss', 38: 'midmade', 39: 'midmade + midmiss', 40: 'rimmade/(rimmade+rimmiss)',
              41: 'midmade/(midmade+mismiss)', 42: 'dunksmade', 43: 'dunksmiss + dunksmade', 
              44: 'dunksmade/(dunksmade+dunksmiss)', 45: 'pick', 46: 'drtg', 47: 'adrtg', 48: 'dporpag',
              49: 'stops', 50: 'bpm', 51: 'obpm', 52: 'dbpm', 53: 'gbpm', 54: 'mp', 55: 'ogbpm', 56: 'dgbpm'}

In [5]:
#renaming columns
df = df.rename(columns = new_columns)

In [6]:
df.head()

,player_name,school,conference,GP,Min_per,ORtg,usg,eFG,TS_per,ORB_per,...,adrtg,dporpag,stops,bpm,obpm,dbpm,gbpm,mp,ogbpm,dgbpm
0,Jason Praet,Detroit,Horz,6,1.0,0.0,16.8,0.0,0.00,0.0,...,98.5024,0.196087,2.50101,-16.14070,-14.74150,-1.39926,-19.178,2.0000,-21.543,2.365
1,DeAndrae Ross,South Alabama,SB,22,8.4,62.0,14.1,32.6,33.40,0.0,...,104.6870,0.365511,15.03790,-8.33266,-6.31752,-2.01514,-10.622,5.1250,-9.557,-1.065
2,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,108.5270,0.893017,49.96440,-5.15203,-1.77499,-3.37704,-4.381,14.5769,-2.722,-1.659
3,DeAndrae Ross,Troy,SB,7,11.5,67.1,16.9,34.5,36.11,3.1,...,111.9560,0.962461,17.44340,-10.44550,-6.83856,-3.60694,-9.617,18.8571,-6.524,-3.093
4,Pooh Williams,Utah St.,WAC,28,24.3,93.1,13.8,45.2,46.20,1.4,...,110.3660,0.672348,48.48480,-3.29203,-1.17901,-2.11302,-3.537,12.1379,-2.517,-1.020

In [7]:
#FYI, data includes individual seasons, not cumulative data
df[df['player_name'] == 'Jordan Poole']

,player_name,school,conference,GP,Min_per,ORtg,usg,eFG,TS_per,ORB_per,...,adrtg,dporpag,stops,bpm,obpm,dbpm,gbpm,mp,ogbpm,dgbpm
51706,Jordan Poole,Michigan,B10,38,28.9,108.0,23.2,53.5,57.55,0.8,...,89.3120,1.69519,86.5604,4.50062,2.36598,2.13464,7.046,12.2051,3.399,3.647
51707,Jordan Poole,Michigan,B10,37,82.6,108.4,20.0,53.8,57.32,0.8,...,88.0083,4.63319,204.6650,7.55575,4.04507,3.51068,6.312,33.0270,2.763,3.549

In [8]:
#looking at null values
#will clean in Cleaning and EDA Notebook
df.isnull().sum()

player_name                            0
school                                 0
conference                             0
GP                                     0
Min_per                                0
ORtg                                   0
usg                                    0
eFG                                    0
TS_per                                 0
ORB_per                                0
DRB_per                                0
AST_per                                0
TO_per                                 0
FTM                                    0
FTA                                    0
FT_per                                 0
twoPM                                  0
twoPA                                  0
twoP_per                               0
TPM                                    0
TPA                                    0
TP_per                                 0
blk_per                                0
stl_per                                0
ftr                                    0
yr                                    40
ht                                    69
num                                 9247
porpag                                 0
adjoe                                  0
pfr                                    0
year                                   0
pid                                    0
type                                   0
rec-rk                             38771
ast/tov                             4110
rimmade                            10505
rimmade + rimmiss                  10505
midmade                            10505
midmade + midmiss                  10505
rimmade/(rimmade+rimmiss)          13559
midmade/(midmade+mismiss)          13704
dunksmade                          10505
dunksmiss + dunksmade              10505
dunksmade/(dunksmade+dunksmiss)    33063
pick                               54574
drtg                                  32
adrtg                                 32
dporpag                               32
stops                                 32
bpm                                   32
obpm                                  32
dbpm                                  32
gbpm                                  46
mp                                    39
ogbpm                                 46
dgbpm                                 46
dtype: int64

In [9]:
df.shape

(55939, 57)

In [10]:
df.to_csv('../Data_Files/torvik_data.csv')