## Data Scrape - Basketball Reference

This notebook will be used to scape data from basketballreference.com to collect individual player stats by season and by aggregate.

### Contents

- [Imports](#Imports)
- [Single Seasons](#Single-Season-DF)
- [Total Seasons](#Total-Season)

### Imports

In [1]:
# Import libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

### Single Season DF

In [2]:
#collecting data from the following website which is a search query
url = 'https://www.sports-reference.com/cbb/play-index/psl_finder.cgi?request=1&match=single&year_min=2006&year_max=2019&class_is_fr=Y&class_is_so=Y&class_is_jr=Y&class_is_sr=Y&pos_is_g=Y&pos_is_gf=Y&pos_is_f=Y&pos_is_fg=Y&pos_is_fc=Y&pos_is_c=Y&pos_is_cf=Y&games_type=A&order_by=pts'
rec = requests.get(url)

In [3]:
rec.status_code

200

In [4]:
soup = BeautifulSoup(rec.content, 'lxml')

In [5]:
#finding the table that includes the data we're looking for
table = soup.find('table', {'class': 'sortable stats_table'})

In [6]:
#creating list of columns headers for the data frame
columns = [th.text for th in table.find_all('tr')[1].find_all('th')]

In [7]:
#example of pulling one player's data
[td.text for td in table.find('tbody').find_all('tr')[0].find_all('td')]

['Jimmer Fredette',
 'SR',
 '2010-11',
 'G',
 'Brigham Young',
 'MWC',
 '37',
 '1323',
 '346',
 '765',
 '222',
 '452',
 '124',
 '313',
 '252',
 '282',
 '24',
 '103',
 '127',
 '160',
 '49',
 '1',
 '131',
 '49',
 '1068']

In [8]:
#creating list of stats for each player
all_players = []
for player in table.find('tbody').find_all('tr'):
    player_stat = [td.text for td in player.find_all('td')]
    all_players.append(player_stat)

In [9]:
#creating dataframe
df = pd.DataFrame(all_players, columns = columns[1:])

In [10]:
df.head()

,Player,Class,Season,Pos,School,Conf,G,MP,FG,FGA,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Jimmer Fredette,SR,2010-11,G,Brigham Young,MWC,37,1323,346,765,...,282,24,103,127,160,49,1,131,49,1068
1,Chris Clemons,SR,2018-19,G,Campbell,Big South,33,1208,304,679,...,283,25,142,167,94,49,11,84,63,993
2,Stephen Curry,JR,2008-09,G,Davidson,Southern,34,1145,312,687,...,251,21,130,151,189,86,8,126,81,974
3,Kemba Walker,JR,2010-11,G,Connecticut,Big East,41,1543,316,739,...,315,53,170,223,184,77,7,93,56,965
4,J.J. Redick,SR,2005-06,G,Duke,ACC,36,1336,302,643,...,256,7,64,71,95,52,2,90,54,964

In [11]:
#creating list of stats for each player on the subsequent pages
#collecting data on 5000 players
more_players = []
for i in range(100, 5100, 100):
    print(f'Collected {i} players')
    key = i
    next_url = f'https://www.sports-reference.com/cbb/play-index/psl_finder.cgi?request=1&match=single&year_min=2006&year_max=2019&conf_id=&school_id=&class_is_fr=Y&class_is_so=Y&class_is_jr=Y&class_is_sr=Y&pos_is_g=Y&pos_is_gf=Y&pos_is_fg=Y&pos_is_f=Y&pos_is_fc=Y&pos_is_cf=Y&pos_is_c=Y&games_type=A&qual=&c1stat=&c1comp=&c1val=&c2stat=&c2comp=&c2val=&c3stat=&c3comp=&c3val=&c4stat=&c4comp=&c4val=&order_by=pts&order_by_asc=&offset={key}'
    rec = requests.get(next_url)
    soup = BeautifulSoup(rec.content, 'lxml')
    new_table = soup.find('table', {'class': 'sortable stats_table'})
    
    for player in new_table.find('tbody').find_all('tr'):
        player_stat = [td.text for td in player.find_all('td')]
        more_players.append(player_stat)
    time.sleep(2)

Collected 100 players
Collected 200 players
Collected 300 players
Collected 400 players
Collected 500 players
Collected 600 players
Collected 700 players
Collected 800 players
Collected 900 players
Collected 1000 players
Collected 1100 players
Collected 1200 players
Collected 1300 players
Collected 1400 players
Collected 1500 players
Collected 1600 players
Collected 1700 players
Collected 1800 players
Collected 1900 players
Collected 2000 players
Collected 2100 players
Collected 2200 players
Collected 2300 players
Collected 2400 players
Collected 2500 players
Collected 2600 players
Collected 2700 players
Collected 2800 players
Collected 2900 players
Collected 3000 players
Collected 3100 players
Collected 3200 players
Collected 3300 players
Collected 3400 players
Collected 3500 players
Collected 3600 players
Collected 3700 players
Collected 3800 players
Collected 3900 players
Collected 4000 players
Collected 4100 players
Collected 4200 players
Collected 4300 players
Collected 4400 players
Collected 4500 players
Collected 4600 players
Collected 4700 players
Collected 4800 players
Collected 4900 players
Collected 5000 players

In [12]:
#creating dataframe with new scrape
more_players_df = pd.DataFrame(more_players, columns = columns[1:])

In [13]:
#combining the dataframes
single_season = pd.concat([df, more_players_df], ignore_index = True)

In [14]:
single_season.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5508 entries, 0 to 5507
Data columns (total 25 columns):
Player    5100 non-null object
Class     5100 non-null object
Season    5100 non-null object
Pos       5100 non-null object
School    5100 non-null object
Conf      5100 non-null object
G         5100 non-null object
MP        5100 non-null object
FG        5100 non-null object
FGA       5100 non-null object
2P        5100 non-null object
2PA       5100 non-null object
3P        5100 non-null object
3PA       5100 non-null object
FT        5100 non-null object
FTA       5100 non-null object
ORB       5100 non-null object
DRB       5100 non-null object
TRB       5100 non-null object
AST       5100 non-null object
STL       5100 non-null object
BLK       5100 non-null object
TOV       5100 non-null object
PF        5100 non-null object
PTS       5100 non-null object
dtypes: object(25)
memory usage: 1.1+ MB

In [15]:
#null values
single_season.isnull().sum()

Player    408
Class     408
Season    408
Pos       408
School    408
Conf      408
G         408
MP        408
FG        408
FGA       408
2P        408
2PA       408
3P        408
3PA       408
FT        408
FTA       408
ORB       408
DRB       408
TRB       408
AST       408
STL       408
BLK       408
TOV       408
PF        408
PTS       408
dtype: int64

In [16]:
#dropping null values
single_season.dropna(inplace = True)

In [17]:
single_season.shape

(5100, 25)

In [18]:
single_season.isnull().sum().sum()

0

In [19]:
single_season.to_csv('../Data_Files/single_season.csv')

### Total Seasons

In [20]:
# creating new df for cumulative data
url = 'https://www.sports-reference.com/cbb/play-index/psl_finder.cgi?request=1&match=combined&year_min=2006&year_max=2019&class_is_fr=Y&class_is_so=Y&class_is_jr=Y&class_is_sr=Y&pos_is_g=Y&pos_is_gf=Y&pos_is_f=Y&pos_is_fg=Y&pos_is_fc=Y&pos_is_c=Y&pos_is_cf=Y&games_type=A&order_by=pts'
rec = requests.get(url)

In [21]:
soup = BeautifulSoup(rec.content, 'lxml')

In [22]:
#table with all the data
table = soup.find('table', {'class': 'sortable stats_table'})

In [23]:
#creating list of columns headers for the data frame
total_columns = [th.text for th in table.find_all('tr')[1].find_all('th')]

In [24]:
#creating list of stats for each player
all_players = []
for player in table.find('tbody').find_all('tr'):
    player_stat = [td.text for td in player.find_all('td')]
    all_players.append(player_stat)

In [25]:
#creating list of stats for each player on the subsequent pages
more_players = []
for i in range(100, 5100, 100):
    print(f'Collected {i} players')
    key = i
    next_url = f'https://www.sports-reference.com/cbb/play-index/psl_finder.cgi?request=1&match=combined&year_min=2006&year_max=2019&conf_id=&school_id=&class_is_fr=Y&class_is_so=Y&class_is_jr=Y&class_is_sr=Y&pos_is_g=Y&pos_is_gf=Y&pos_is_fg=Y&pos_is_f=Y&pos_is_fc=Y&pos_is_cf=Y&pos_is_c=Y&games_type=A&qual=&c1stat=&c1comp=&c1val=&c2stat=&c2comp=&c2val=&c3stat=&c3comp=&c3val=&c4stat=&c4comp=&c4val=&order_by=pts&order_by_asc=&offset={key}'
    rec = requests.get(next_url)
    soup = BeautifulSoup(rec.content, 'lxml')
    new_table = soup.find('table', {'class': 'sortable stats_table'})
    
    for player in new_table.find('tbody').find_all('tr'):
        player_stat = [td.text for td in player.find_all('td')]
        more_players.append(player_stat)
    time.sleep(2)

Collected 100 players
Collected 200 players
Collected 300 players
Collected 400 players
Collected 500 players
Collected 600 players
Collected 700 players
Collected 800 players
Collected 900 players
Collected 1000 players
Collected 1100 players
Collected 1200 players
Collected 1300 players
Collected 1400 players
Collected 1500 players
Collected 1600 players
Collected 1700 players
Collected 1800 players
Collected 1900 players
Collected 2000 players
Collected 2100 players
Collected 2200 players
Collected 2300 players
Collected 2400 players
Collected 2500 players
Collected 2600 players
Collected 2700 players
Collected 2800 players
Collected 2900 players
Collected 3000 players
Collected 3100 players
Collected 3200 players
Collected 3300 players
Collected 3400 players
Collected 3500 players
Collected 3600 players
Collected 3700 players
Collected 3800 players
Collected 3900 players
Collected 4000 players
Collected 4100 players
Collected 4200 players
Collected 4300 players
Collected 4400 players
Collected 4500 players
Collected 4600 players
Collected 4700 players
Collected 4800 players
Collected 4900 players
Collected 5000 players

In [26]:
#combining the lists
all_players.extend(more_players)

In [27]:
#creating the comined dataframe
total_df = pd.DataFrame(all_players, columns = total_columns[1:])

In [28]:
#dropping null values
total_df.dropna(inplace = True)

In [29]:
total_df.shape

(5100, 24)

In [30]:
total_df.isnull().sum()

Player    0
From      0
To        0
School    0
Conf      0
G         0
MP        0
FG        0
FGA       0
2P        0
2PA       0
3P        0
3PA       0
FT        0
FTA       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

In [31]:
total_df.head()

,Player,From,To,School,Conf,G,MP,FG,FGA,2P,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Chris Clemons,2016,2019,Campbell,Big South,130,4433,1024,2307,580,...,860,63,524,587,335,213,47,324,265,3225
1,Doug McDermott,2011,2014,Creighton,Total,145,4569,1141,2075,867,...,715,281,807,1088,194,34,14,321,265,3150
2,Mike Daum,2016,2019,South Dakota State,Summit,137,4038,1005,1994,734,...,927,289,947,1236,179,78,84,299,337,3067
3,Tyler Hansbrough,2006,2009,North Carolina,ACC,142,4394,939,1752,927,...,1241,482,737,1219,154,180,66,297,348,2872
4,Tyler Haws,2010,2015,Brigham Young,Total,139,4427,917,1916,755,...,820,177,416,593,257,138,28,244,230,2720

In [32]:
total_df.shape

(5100, 24)

In [33]:
total_df.to_csv('../Data_Files/total_values.csv')